body,p,ul,h1,h2,h3,h4,h5,h6,input,button,dl,dt,dd{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
img{
	vertical-align: bottom;
}
a{
	text-decoration: none;
	color: #999;
}
.clear:after{
	content: "";
	display: table;
	clear: both;
}
.container:before{
	content: '';
	display: table;
}